body{
    background: linear-gradient(#310078, #a25991);
}
hr{
    color: #2400ff;
    height: 5px;
    background-color: blue;
}
.nav-settings{
    background-color: black;
}

.gradient-header-btn{
    background: linear-gradient(to right,#8506d5, #387cf4);
}
#carouselExampleCaptions .carousel-item img{
    object-fit: cover;
    object-position: center;
    height: 70vh;
    overflow: hidden;
}
.cardholder{
    margin: 20px;
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.card{
    color: white;
    background: linear-gradient(to right,#8506d5, #387cf4);
}
.card-link{
    display:block;
    width:100px;
    height:30px;
    border-radius: 5px;
    margin-left: auto;
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: #f3cb1a;
}

.collapse-setting{
    display: block;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.collapse-vidjet{
    display: block;
    margin-left: 5%;
    margin-right: 5%;
}
.kinopoisk-img{
    border: 1px solid rgb(0, 0, 0);}
.kinopoisk{
    background: linear-gradient(to right,#ff5500, #c4e800);
}
p{
    text-align:justify;
}
.fixed-menu{
    position: fixed;
    bottom: 0;
    opacity: 0.7; 
    font-size: 15px;
}
